
Typewritter.bbprojectd/Scratchpad.txt

Typewritter.bbprojectd/Unix Worksheet.worksheet

Typewritter.bbprojectd/alexseifert.bbprojectsettings

Typewritter.bbprojectd/project.bbprojectdata

.buildpath

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml
