/* Styles for the homepage */

.allposts {
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
}

.allposts td {
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.allposts tr:hover {
	background: #f0f0f0;
}

.allposts-title {
	min-width: 150px;
	max-width: 500px;
}

.allposts-markdown {
	color: #999999;
	min-width: 300px;
	max-width: 500px;
	font-size: 15px;
}

.allposts-date {
	width: 165px;
	text-align: right;
}

.allposts-date, .allposts-published {
        line-height: 1.2em;
        font-size: 14px;
}

.allposts-published {
        color: #888888;
        font-style: italic;
}

.allposts-edit {
	width: 35px;
	text-align: right;
}

.allposts-edit, .allposts-edit a {
	font-size: 15px;
}


/* Styles for the pagination links */

.pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 20px;
	padding: 10px 0;
}

.pagination, .pagination a {
	font-size: 15px;
}

.pagination a, .pagination span {
	display: inline-block;
	margin-left: 8px;
}