/* Style sheets for the "Create post" page */

.draft-buttons, .published-buttons {
	display: none;
}


/* Styles for the toolbar */

.date-updated {
	float: right;
	margin-top: -4px;
	display: none;
}

.date-updated, .date-updated .date {
	font-size: 11px;
	color: #999999;
	text-align: right;
}

/* Styles for the editor pane */

.editor {
	float: left;
	width: calc(50% - 32px);
	height: 100%;
	border-right: 2px solid #e0e0e0;
	padding: 15px;
	font-weight: 400;
	position: relative;
}

.markdown-editor, .html-editor {
	display: none;
	height: calc(100% - 30px);
	width: 100%;
	border: 0;
	resize: none;
	outline: none;
}

.markdown-editor {
	font-family: 'Inconsolata', Courier, serif;
	font-size: 17px;
}

.html-editor {
	font-family: Courier, serif;
	font-size: 13px;
}


/* Styles for "tab" links */

.editor-type, .markdown-help {
	position: absolute;
	bottom: 0;
}

.editor-type a, .markdown-help a {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
	padding: 3px;
	float: left;
	border-top: 1px solid #ffffff;
}

.editor-type a.selected, .markdown-help a.selected {
	color: #666666;
	border-top: 1px solid #c0c0c0;
}

.markdown-help {
	position: absolute;
	bottom: 0;
	right: 10px;
	text-align: right;
	padding: 3px;
}


/* Styles for the preview pane */

.preview {
	float: left;
	width: calc(50% - 32px);
	height: 100%;
	padding: 15px;
	position: relative;
	overflow: auto;
}

.preview-content, .markdown-guide {
	display: none;
	height: calc(100% - 30px);
	width: 100%;
	border: 0;
	resize: none;
	outline: none;
}