/* General style sheets for Typewritter */

@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic|Inconsolata:400,700);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body, div, a {
	font-family: 'Muli', sans-serif;
	font-size: 21px;
	line-height: 1.5em;
}

a {
	color: #2C8DB7;
}

a:hover {
	text-decoration: none;
}

.content {
	height: calc(100% - 75px);
	width: 100%;
	position: relative;
}

.content.with-toolbar {
	height: calc(100% - 121px);
}

.visible {
	display: block !important;
}

.hidden {
	display: none;
}

.align-center {
	text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-both {
    clear: both;
}


/* Styles for the menubar */

.menubar {
	width: 100%;
	height: 45px;
	background: #333333;
}

.menubar div {
	float: left;
}

.menubar .logo {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 50px;
}

.menubar .menu a {
	display: inline-block;
	padding: 12px 18px;
	color: #c0c0c0;
	text-decoration: none;
	font-size: 15px;
	height: 21px;
	border-right: 1px solid #555555;
	font-weight: 300;
	float: left;
}

.menubar .menu a:hover, .menubar .dropdown.open .mainlink {
	color: #ffffff;
	background: #555555;
}

.menubar .menu a:last-child {
	border-right: 0;
}

.menubar .settings {
	float: right;
}

.menubar .dropdown, .menubar .dropdown-menu {
	background: #444444;
}

.menubar .dropdown-menu {
	display: none;
	border-right: 1px solid #222222;
}


/* Styles for the toolbar */

.toolbar {
	height: 26px;
	background: #e0e0e0;
	padding: 10px 10px;
}

.toolbar input[type="text"] {
	border: 0;
	background: #e0e0e0;
	width: calc(50% - 4px);
	height: 100%;
	float: left;
	font-family: 'Muli', sans-serif;
	font-size: 17px;
	outline: none;
}


/* Styles for popups */

.popup {
	display: none;
	opacity: 0;
}

.popup-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(255, 255, 255, .7);
}

.popup-content {
	position: fixed;
	z-index: 11;
	left: 50%;
	top: 50%;
	background: #ffffff;
	box-shadow: 0 0 30px #d0d0d0;
	padding: 20px;
}

.popup-content, .popup-content p, .popup-content a {
	font-size: 13px;
}

.popup-content .close, .popup-content .close a {
	text-align: center;
	font-size: 12px;
}

.popup-content .close a {
	margin-left: 30px;
}

.popup-content .close a:first-child {
	margin-left: 0;
}


/* Styles for full-sized tables (i.e. the page with all posts and the "Edit category" page) */

.fullsized-table {
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
}

.allposts td {
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.allposts tr:hover {
	background: #f0f0f0;
}

.allposts-title {
	min-width: 150px;
	max-width: 500px;
}

.allposts-markdown {
	color: #999999;
	min-width: 300px;
	max-width: 500px;
	font-size: 15px;
}

.allposts-date {
	width: 165px;
	text-align: right;
}

.allposts-date, .allposts-published {
        line-height: 1.2em;
        font-size: 14px;
}

.allposts-published {
        color: #888888;
        font-style: italic;
}

.allposts-edit {
	width: 35px;
	text-align: right;
}

.allposts-edit, .allposts-edit a {
	font-size: 15px;
}