/* General style sheets for Typewritter */

@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic|Inconsolata:400,700);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body, div, a {
	font-family: 'Muli', sans-serif;
	font-size: 21px;
	line-height: 1.5em;
}

a {
	color: #2C8DB7;
}

a:hover {
	text-decoration: none;
}

.content {
	height: calc(100% - 75px);
	width: 100%;
	position: relative;
}

.content.with-toolbar {
	height: calc(100% - 121px);
}

.visible {
	display: block !important;
}

.hidden {
	display: none;
}


/* Styles for the menubar */

.menubar {
	width: 100%;
	height: 45px;
	background: #333333;
}

.menubar div {
	float: left;
}

.menubar .logo {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 50px;
}

.menubar .menu a {
	display: inline-block;
	padding: 12px 18px;
	color: #c0c0c0;
	text-decoration: none;
	font-size: 15px;
	height: 21px;
	border-right: 1px solid #555555;
	font-weight: 300;
	float: left;
}

.menubar .menu a:hover, .menubar .dropdown.open .mainlink {
	color: #ffffff;
	background: #555555;
}

.menubar .menu a:last-child {
	border-right: 0;
}

.menubar .settings {
	float: right;
}

.menubar .dropdown, .menubar .dropdown-menu {
	background: #444444;
}

.menubar .dropdown-menu {
	display: none;
	border-right: 1px solid #222222;
}


/* Styles for the toolbar */

.toolbar {
	height: 26px;
	background: #e0e0e0;
	padding: 10px 10px;
}

.toolbar input[type="text"] {
	border: 0;
	background: #e0e0e0;
	width: calc(50% - 4px);
	height: 100%;
	float: left;
	font-family: 'Muli', sans-serif;
	font-size: 17px;
	outline: none;
}


/* Styles for popups */

.popup {
	display: none;
	opacity: 0;
}

.popup-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(255, 255, 255, .7);
}

.popup-content {
	position: fixed;
	z-index: 11;
	left: 50%;
	top: 50%;
	background: #ffffff;
	box-shadow: 0 0 30px #d0d0d0;
	padding: 20px;
}

.popup-content, .popup-content p, .popup-content a {
	font-size: 13px;
}

.popup-content .close, .popup-content .close a {
	text-align: center;
	font-size: 12px;
}


/* Styles for the homepage */

.allposts {
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
}

.allposts td {
	padding: 10px;
}

.allposts tr:hover {
	background: #f0f0f0;
}